ErrorDocument 404 /errors/error404.php
ErrorDocument 401 /errors/error401.php
ErrorDocument 403 /errors/error403.php
RewriteEngine on
RewriteRule ^page/([A-Za-z0-9-]+)/?$ index.php?what=page&page=$1 [NC]

